/* App.tsx Layout Styles */
.ds-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--ds-color-app);
  color: var(--ds-color-text);
}

.ds-app-main {
  flex: 1;
  display: flex;
  overflow: hidden;
  transition: all 0.3s;
}

.ds-app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s;
}

@media (min-width: 1024px) {
  .ds-app-content {
    flex-direction: row;
  }
}
